name: React App Autodeploy

on:
  push:
    branches:
      - main  # Trigger deploy only when pushing to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Upload to cPanel via FTP
        id: deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./
          server-dir: ./
          exclude: |
            **/.git/**
            **/.github/**
            **/node_modules/**
            **/tests/**
            **/vendor/**
            **/.env
            **/.ftp-deploy-sync-state.json
